<!DOCTYPE html>
<html>
    <head>
        <metacharset="UTF-8">
        <title>sayHello!</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Shanti&display=swap');
        </style>
    </head>
    <body>
        <img src="https://raw.githubusercontent.com/grioscairo/pixel2Code/main/Window-elements/converter-logo.png">
        <br>
        <form action="greet" method="post">
            {%for message in get_flashed_messages()%}
                <p>{{message}}</p>
                {%endfor%}
            <br>
            <input type="text" name = "name_input">
            <br>
            <input type="submit" value="GREET" id="greet">
        </form>
    </body>
</html>